html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0 0 60px 0;
}

.header {
  padding: 30px;
  text-align: right;
  background: lightgray;
}

.header .left {
  float: left;
}

.content {
  margin: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: lightgray;
}

.is-authenticated {
  display: none;
}

.auth {
  margin: auto;
  padding: 10px;
  width: 50%;
  background-color: lightgray;
}
